<div class="row">
    <div class="well col-md-6">
    <%#  @categories.each do |category| %>
      <%= render  partial:  'shared/category'  ,collection:  post.categories  %>
    <%#  end %>
      <p>
        <%= post.title %>
      </p>

      <p>
        <%= post.content %>
      </p>
      <br>

      <span>
        <%= link_to "show this post", post_path(post) %>
      </span>
      
      <p class="pull-right"><%= post.user.name %></p>
    </div>
  </div>
